jedi
omegaconf
hydra-core
icecream
pyrsistent
pynvml
decorator
pysmartdl
git+https://github.com/NVIDIA/dllogger#egg=dllogger
dgl==2.1.0 -f https://data.dgl.ai/wheels/cu121/repo.html
e3nn==0.5.5
opt_einsum_fx
git+https://github.com/sokrypton/ColabDesign.git

#taken from RFdiffusion/env/SE3Transformer/requirements.txt
e3nn==0.5.5
wandb==0.12.0
pynvml==11.0.0
git+https://github.com/NVIDIA/dllogger#egg=dllogger
decorator==5.1.0
ipython
torchdata==0.7.0
dgl -f https://data.dgl.ai/wheels/torch-2.1/cu121/repo.html
pydantic
numpy<2.0.0
torch==2.1.0
./RFdiffusion/env/SE3Transformer